<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- <add key="Local Nuget Cache" value="%HOME%\.nuget_local" /> -->
    <!-- <add key="my nuget" value="https://b.zggsong.cn/v3/index.json" protocolVersion="3" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>