@font-face {
  font-family: "iconfont"; /* Project id 4294789 */
  src: url('iconfont.woff2?t=1723084288942') format('woff2'),
       url('iconfont.woff?t=1723084288942') format('woff'),
       url('iconfont.ttf?t=1723084288942') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huisu:before {
  content: "\e687";
}

.icon-icon:before {
  content: "\e62f";
}

.icon-duoyuyan:before {
  content: "\e661";
}

.icon-duoyuyan1:before {
  content: "\e654";
}

.icon-a-yuyanzhongwen:before {
  content: "\e643";
}

.icon-guanbi1:before {
  content: "\e660";
}

.icon-guanbi2:before {
  content: "\e85b";
}

.icon-charu:before {
  content: "\e60c";
}

.icon-charu1:before {
  content: "\e677";
}

.icon-switch:before {
  content: "\e65f";
}

.icon-switch1:before {
  content: "\e621";
}

.icon-switch2:before {
  content: "\e611";
}

.icon-cuowu:before {
  content: "\e60a";
}

.icon-duigou:before {
  content: "\e653";
}

.icon-duigou1:before {
  content: "\e66a";
}

.icon-xiazai:before {
  content: "\e6d5";
}

.icon-zhantiepeizhi:before {
  content: "\e6b0";
}

.icon-niantie:before {
  content: "\e652";
}

.icon-quanxuan2:before {
  content: "\e658";
}

.icon-zoom-on:before {
  content: "\e616";
}

.icon-suofang:before {
  content: "\e68b";
}

.icon-suofangdaodengbi:before {
  content: "\e64f";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-tianjia-:before {
  content: "\e710";
}

.icon-tianjia1:before {
  content: "\e65e";
}

.icon-leijijishi:before {
  content: "\eb78";
}

.icon-bianji:before {
  content: "\e609";
}

.icon-bianji1:before {
  content: "\e61b";
}

.icon-24gl-clipboardEmpty:before {
  content: "\eabb";
}

.icon-24gl-clipboardText:before {
  content: "\eabc";
}

.icon-clipboard:before {
  content: "\e65d";
}

.icon-sousuo1:before {
  content: "\eafe";
}

.icon-OCRshibie:before {
  content: "\e61a";
}

.icon-OCR:before {
  content: "\e695";
}

.icon-mimaxianshiyincang-:before {
  content: "\e725";
}

.icon-yincang:before {
  content: "\e641";
}

.icon-pasw-show:before {
  content: "\e608";
}

.icon-erweima:before {
  content: "\e607";
}

.icon-erweima1:before {
  content: "\e642";
}

.icon-erweima3:before {
  content: "\e619";
}

.icon-a-biaodanzujian-shurukuang-svg6:before {
  content: "\e606";
}

.icon-textBox:before {
  content: "\e648";
}

.icon-a-biaodanzujian-shurukuang-svg5:before {
  content: "\e605";
}

.icon-shubiao:before {
  content: "\e650";
}

.icon-qingli:before {
  content: "\e6cb";
}

.icon-refresh-1-copy:before {
  content: "\e60f";
}

.icon-backspace-outline:before {
  content: "\e64e";
}

.icon-space:before {
  content: "\e6ab";
}

.icon-icon-test:before {
  content: "\e603";
}

.icon-wenbenhuanhang:before {
  content: "\e6b2";
}

.icon-wenzi:before {
  content: "\e613";
}

.icon-xitongshouxuanxiang:before {
  content: "\e656";
}

.icon-duigoux:before {
  content: "\ec9e";
}

.icon-jinyong:before {
  content: "\e615";
}

.icon-jiaohuan:before {
  content: "\e665";
}

.icon-icon-jichushezhi:before {
  content: "\e604";
}

.icon-ketuozhuai:before {
  content: "\e617";
}

.icon-tuichu:before {
  content: "\e66b";
}

.icon-jiemian:before {
  content: "\e65b";
}

.icon-danhangshurukuang:before {
  content: "\e694";
}

.icon-biaodanzujian-shurukuang:before {
  content: "\eb94";
}

.icon-wenbenshibie:before {
  content: "\e861";
}

.icon-duohangshuru:before {
  content: "\e64a";
}

.icon-a-14Cjietu:before {
  content: "\e679";
}

.icon-wenzishibie:before {
  content: "\e9ce";
}

.icon-3zuidahua-3:before {
  content: "\e693";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-baocun:before {
  content: "\e63b";
}

.icon-lishijilu:before {
  content: "\e63f";
}

.icon-changyongshili:before {
  content: "\e640";
}

.icon-fuwuqi:before {
  content: "\e726";
}

.icon-guanyu:before {
  content: "\e60b";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-guanbi:before {
  content: "\e64d";
}

.icon-zuidahua1:before {
  content: "\e651";
}

.icon-zuixiaohua:before {
  content: "\e676";
}

.icon-tuding:before {
  content: "\e637";
}

.icon-relieve-full:before {
  content: "\e9ba";
}

.icon-fuzhi:before {
  content: "\e692";
}

.icon-xiala:before {
  content: "\e61d";
}

.icon-adjust-full:before {
  content: "\e994";
}

.icon-snake:before {
  content: "\e600";
}

.icon-copy_large_hump:before {
  content: "\e601";
}

.icon-copy_c:before {
  content: "\e602";
}

.icon-laba1:before {
  content: "\e610";
}

