<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Tesseract" version="5.2.0" targetFramework="net48" />
  <package id="WpfScreenHelper" version="2.1.0" targetFramework="net48" />
</packages>